**Common Functions vs Lambda Function**

In [ ]:
def Division(a, b):
  answer = a / b
  return answer

Divide = lambda x,y : x / y

print("With Common Function: ", Division(50, 10))
print("With lambda Function: ", Divide(50, 10))

With Common Function:  5.0
With lambda Function:  5.0

In [ ]:
lam_function = lambda c : c
lam_input = 10

lam_output = lam_function(lam_input) + 6
print(lam_output)

16

**args and kwargs**

In [ ]:
# Find Multiplication of Numbers, with list:
def Multiplication(List):
  answer = 1
  for i in List:
    answer *= i
  return answer
my_list = [1, 2, 3, 4, 5]
print("Find with list: ", Multiplication(my_list))

# Find Multiplication of Numbers, with args:
def Multiply(*args):
  answer = 1
  for i in args:
    answer *= i
  return answer
print("Find with args: ", Multiply(1, 2, 3, 4, 5))

# Create Dictionary with kwargs:
def Create_Dict(**kwargs):
  Dictionary = {}
  for i, j in zip(kwargs.keys(), kwargs.values()):
    Dictionary[i] = j
  return Dictionary
print("Created by kwargs: ", Create_Dict(a='Nika', b='Chinchaladze', c='Leri', d='Chixladze'))

Find with list:  120
Find with args:  120
Created by kwargs:  {'a': 'Nika', 'b': 'Chinchaladze', 'c': 'Leri', 'd': 'Chixladze'}

**Function input ordering:**

In [ ]:
# a, b - required input
# c - optional input
# *args - positional input
# **kwargs - keyword input

def Function(a, b, c = 3, *args, **kwargs):
  answer = a * b * c
  Dict = {}
  
  number = 1
  for i in args:
    number *= i
  
  for m, n in zip(kwargs.keys(), kwargs.values()):
    Dict[m] = n
  
  print("answer: ", answer)
  print("number: ", number)
  print("Dictionary: ", Dict)

Function(5, 10, 3, 1,2,3,4,5, g='Chincho', h='Lazvi', k='Pachkovich')

answer:  150
number:  120
Dictionary:  {'g': 'Chincho', 'h': 'Lazvi', 'k': 'Pachkovich'}

**Iterators:**

In [ ]:
my_list = [1, 5, 'Chincho']
iterator = iter(my_list)

print(next(iterator))
print(next(iterator))
print(next(iterator))

1
5
Chincho

In [ ]:
list_quiz = [10, 3, 15]
list_iterator = iter(list_quiz)
var_1 = next(list_iterator)
print(next(list_iterator))

3

**Generators and Yield:**

In [ ]:
# Reverse Function Without Generator:
def Reverse(List):
  reversed_list = []
  length = len(List)
  for i in range(length-1, -1, -1):
     reversed_list.append(List[i])
  return reversed_list
a = [10, 11, 12, 23, 13, 14, 17]
print(Reverse(a))

[17, 14, 13, 23, 12, 11, 10]

In [ ]:
# Reverse Function With Generator:
def Reverse_Generator(data):
  length = len(data)
  for i in range(length-1, -1, -1):
    yield data[i]

Reversed_List = Reverse_Generator(a)
for i in Reversed_List:
  print(i)

17
14
13
23
12
11
10

**Map Functions**

In [12]:
# Add Number to all element of list with common function:
def Add_num(List, Number):
  answer = []
  for i in List:
    answer.append(i + Number)
  return answer

my_list = [10, 20, 30]
print("With Common Function: ", Add_num(my_list, 5))

# do the same example with map function:
def Add_num_map(Element, Number = 5):
  return Element + Number

result = map(Add_num_map, my_list)
print("With map Function: ", list(result))

# do the same operation with lambda and map:
ADD_NUMS = lambda element : element + 5
lambda_result = map(ADD_NUMS, my_list)
print("With lambda + map Functions, first variant: ", list(lambda_result))

# the same operation:
lambda_answer = map(lambda item : item +5, my_list)
print("With lambda + map Functions, second variant: ", list(lambda_answer))

With Common Function:  [15, 25, 35]
With map Function:  [15, 25, 35]
With lambda + map Functions, first variant:  [15, 25, 35]
With lambda + map Functions, second variant:  [15, 25, 35]

**Map Function with Built in Functions**

In [14]:
Float_list = [1.3, 3.5, 2.3, 6.8, 9.9]
int_answer = map(int, Float_list)
print("Transformed from float into int: ", list(int_answer))

Transformed from float into int:  [1, 3, 2, 6, 9]

In [17]:
common_list = [5, 6, 7, 8]
power_list = [2, 3, 4, 5]
power_answer = map(pow, common_list, power_list)
print("Powered List Elements: ", list(power_answer))

Powered List Elements:  [25, 216, 2401, 32768]

In [21]:
# exception: here is used -> user defined function created with lambda:
first_list = [1, 2, 3, 4, 5]
second_list = [6, 7, 8, 9, 10]
add_fun = lambda a,b: a+ b
add_answer = map(add_fun, first_list, second_list)
print("Sum of elements from two lists: ", list(add_answer))

Sum of elements from two lists:  [7, 9, 11, 13, 15]

In [24]:
# Find number of occurences of i in list elements:
my_list = ['nika', 'leria', 'chinchaladze', 'lazviashvili', 'charelashvili', 'barnabishvili']
mapped_list = list(map(lambda List: List.count('i'), my_list))
print("Number of i in element of list: ", mapped_list)

Number of i in element of list:  [1, 1, 1, 3, 2, 3]

**Filter Function**

In [28]:
Grades = [10, 20, 30, 40, 50]
# 1)
def Passing(List, Score):
  Grades_answer = []
  for i in List:
    if i > Score:
      Grades_answer.append(i)
  return Grades_answer
print('With common Function: ', Passing(Grades, 25))

# 2)
def Pass_Function(List, Score = 25):
  return List > Score
Passed_answer = list(filter(Pass_Function, Grades))
print('With filter Function: ', Passed_answer)

# 3)
Lambda_Answer = list(filter(lambda Items : Items > 25, Grades))
print("With lambda + filter Functions: ", Lambda_Answer)

With common Function:  [30, 40, 50]
With filter Function:  [30, 40, 50]
With lambda + filter Functions:  [30, 40, 50]

In [32]:
# create new list with only even numbers
Number_List = [10, 11, 12, 13, 14, 15, 16, 17]
Even_list = list(filter(lambda item: item % 2 == 0, Number_List))
print("List with even elements: ", Even_list)

List with even elements:  [10, 12, 14, 16]