In [ ]:
import pandas as pd
import numpy as np
from random import randint

In [ ]:
pd_series = pd.Series(data = ['nika', 'chinchaladze', 25, 'Programmer'], index = ['first_name', 'surname', 'age', 'job'])
print(pd_series)
print("--------------------------")
print(pd_series['first_name'])
print("--------------------------")
print(pd_series['surname'])
print("--------------------------")
print(pd_series['age'])
print("--------------------------")
print(pd_series['job'])
print("--------------------------")

first_name            nika
surname       chinchaladze
age                     25
job             Programmer
dtype: object
--------------------------
nika
--------------------------
chinchaladze
--------------------------
25
--------------------------
Programmer
--------------------------

**create Series from numpy array**

In [ ]:
one_array = np.random.randint(20, size = (10))
one_series = pd.Series(one_array)
print(one_series)

0    16
1    12
2     1
3    18
4    13
5     7
6    17
7     1
8    17
9     6
dtype: int64

**create Series from list**

In [ ]:
first_list = [i for i in range(randint(8,10))]
first_Series = pd.Series(first_list)
print(first_Series)

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
dtype: int64

**create Series from dictionary**

In [ ]:
f_dict = {'name':'nika', 'surname':'chinchaladze', 'age':25, 'job':'Data Analyst'}
f_Series = pd.Series(f_dict)
print(f_Series)
print("-----------------------")
print(f_Series['name'])
print("-----------------------")
print(f_Series['surname'])
print("-----------------------")
print(f_Series['age'])
print("-----------------------")
print(f_Series['job'])
print("-----------------------")

name               nika
surname    chinchaladze
age                  25
job        Data Analyst
dtype: object
-----------------------
nika
-----------------------
chinchaladze
-----------------------
25
-----------------------
Data Analyst
-----------------------

**create Series from scalar values**

In [ ]:
scalar_value = 15
sc_Series = pd.Series(scalar_value, index = [0,1,2,3,4])
print(sc_Series)

0    15
1    15
2    15
3    15
4    15
dtype: int64

**convert Series into numpy array**

In [ ]:
arr_1 = sc_Series.to_numpy()
arr_2 = f_Series.to_numpy()
arr_3 = first_Series.to_numpy()
arr_4 = one_series.to_numpy()
arr_5 = pd_series.to_numpy()
print(arr_1)
print(arr_2)
print(arr_3)
print(arr_4)
print(arr_5)

[15 15 15 15 15]
['nika' 'chinchaladze' 25 'Data Analyst']
[0 1 2 3 4 5 6 7]
[16 12  1 18 13  7 17  1 17  6]
['nika' 'chinchaladze' 25 'Programmer']

**use get function with Series**

In [ ]:
print(sc_Series.get(2))
print(f_Series.get('name'))
print(first_Series.get(5))
print(one_series.get(3))
print(pd_series.get('age'))

15
nika
5
18
25

**Series attributes**

In [ ]:
a = np.random.randint(10, size = (5))
a_series = pd.Series(a, name = 'Based on numpy', index = ['first', 'second', 'third', 'fourth', 'fifth'])
print(a_series)
print("-----------------------")
print("shape:", a_series.shape)
print("-----------------------")
print("dimension:", a_series.ndim)
print("-----------------------")
print("size:", a_series.size)
print("-----------------------")
print("values:", a_series.values)
print("-----------------------")
print("index:", a_series.index)
print("-----------------------")
print("name:", a_series.name)
print("-----------------------")

first     3
second    5
third     8
fourth    4
fifth     0
Name: Based on numpy, dtype: int64
-----------------------
shape: (5,)
-----------------------
dimension: 1
-----------------------
size: 5
-----------------------
values: [3 5 8 4 0]
-----------------------
index: Index(['first', 'second', 'third', 'fourth', 'fifth'], dtype='object')
-----------------------
name: Based on numpy
-----------------------

**data manipulation on Series**

In [ ]:
dictionary = {'name':'nika', 'surname':'chinchaladze', 'nickname':'chincho', 'age':25}
new_series = pd.Series(dictionary)
# print out values with key and index:
print(new_series['name'])
print(new_series[0])
print("------------------------")
# change value inside Series:
new_series['name'] = 'leri'
new_series[1] = 'chixladze'
print(new_series['name'])
print(new_series[1])
print("------------------------")
# print more than one values from Series:
print(new_series[ [2,3] ])
print("------------------------")
print(new_series.iloc[2:3])
print("------------------------")
print(new_series.loc['surname':'nickname'])

nika
nika
------------------------
leri
chixladze
------------------------
nickname    chincho
age              25
dtype: object
------------------------
nickname    chincho
dtype: object
------------------------
surname     chixladze
nickname      chincho
dtype: object

**drop some elements from Series**

In [ ]:
print(new_series)
print("------------------------------------------")
new_series.drop(labels = 'name', inplace = True)
new_series.drop(labels = 'nickname', inplace = True)
print(new_series)

name             leri
surname     chixladze
nickname      chincho
age                25
dtype: object
------------------------------------------
surname    chixladze
age               25
dtype: object

**mathematical operations on Series**

In [ ]:
first = np.random.randint(10, size = (5))
second = np.random.randint(20, size = (5))
ser_one = pd.Series(first)
ser_two = pd.Series(second)
print(ser_one)
print(ser_two)
print("----------------------------")
# add two Series:
print(ser_one.add(ser_two))
print("----------------------------")
# subtract two Series:
print(ser_two.sub(ser_one))
print("----------------------------")
# multiply Series:
print(ser_two.mul(ser_one))
print("----------------------------")
# divide Series:
print(ser_two.div(ser_one))

0    8
1    8
2    6
3    4
4    6
dtype: int64
0     2
1     8
2    19
3     6
4    18
dtype: int64
----------------------------
0    10
1    16
2    25
3    10
4    24
dtype: int64
----------------------------
0    -6
1     0
2    13
3     2
4    12
dtype: int64
----------------------------
0     16
1     64
2    114
3     24
4    108
dtype: int64
----------------------------
0    0.250000
1    1.000000
2    3.166667
3    1.500000
4    3.000000
dtype: float64

**create DataFrame from dictionary**

In [ ]:
dict_1 = {'names':['nika', 'leri', 'toke'],
          'surname':['chinchaladze', 'choxladze', 'quridze'],
          'age':[25, 29, 30],
          'job':['unemployed', 'racer', 'soldier']}
df = pd.DataFrame(dict_1)
print(df)
print("----------------------------")
print(df['names'])
print("----------------------------")
print(df['surname'])
print("----------------------------")
print(df['age'])

  names       surname  age         job
0  nika  chinchaladze   25  unemployed
1  leri     choxladze   29       racer
2  toke       quridze   30     soldier
----------------------------
0    nika
1    leri
2    toke
Name: names, dtype: object
----------------------------
0    chinchaladze
1       choxladze
2         quridze
Name: surname, dtype: object
----------------------------
0    25
1    29
2    30
Name: age, dtype: int64

**create DataFrame from Series**

In [ ]:
ser_1 = pd.Series([1,2,3,4,5])
df_s = pd.DataFrame(ser_1, columns = ['numbers'])
print(df_s)

   numbers
0        1
1        2
2        3
3        4
4        5

In [ ]:
dict_2 = {'names': pd.Series(['nika', 'leri', 'toke']),
          'surname': pd.Series(['chinchaladze', 'choxladze', 'quridze']),
          'age': pd.Series([25, 29, 30]),
          'job': pd.Series(['unemployed', 'racer', 'soldier'])}
df_2 = pd.DataFrame(dict_2)
print(df_2)

  names       surname  age         job
0  nika  chinchaladze   25  unemployed
1  leri     choxladze   29       racer
2  toke       quridze   30     soldier

**create DataFrame from list**

In [ ]:
list_1 = [1,2,3,4,5]
df_3 = pd.DataFrame(list_1, columns = ['numbers'])
print(df_3)

   numbers
0        1
1        2
2        3
3        4
4        5

**create dataframe from list of dictionaries**

In [ ]:
list_2 = [{'name':'nika', 'surname':'chinchaladze'}, {'age':25, 'job':'programmer'}]
df_4 = pd.DataFrame(list_2)
print(df_4)

   name       surname   age         job
0  nika  chinchaladze   NaN         NaN
1   NaN           NaN  25.0  programmer

**create dataframe from 2-D numpy arrays**

In [ ]:
array_1 = np.ones((3,3))
df_5 = pd.DataFrame(array_1, columns = ['first', 'second', 'third'])
print(df_5)

   first  second  third
0    1.0     1.0    1.0
1    1.0     1.0    1.0
2    1.0     1.0    1.0

**create dataframe from another dataframe**

In [ ]:
array_2 = 5 * np.ones((4,4))
df_6 = pd.DataFrame(array_2, columns = ['a', 'b', 'c', 'd'])
df_7 = pd.DataFrame(df_6)
print(df_7)

     a    b    c    d
0  5.0  5.0  5.0  5.0
1  5.0  5.0  5.0  5.0
2  5.0  5.0  5.0  5.0
3  5.0  5.0  5.0  5.0

**read csv files**

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
df_file = pd.read_csv("/content/drive/MyDrive/tested_worldwide.csv")
print(df_file.head())
print("-------------------------")
print("find south_korea: ", df_file.iloc[3,1])                 # for index
print("-------------------------")
print("find south korea: ", df_file.loc[3, 'Country_Region'])  # for column and row names

         Date Country_Region Province_State  positive  active  hospitalized  \
0  2020-01-16        Iceland     All States       3.0     NaN           NaN
1  2020-01-17        Iceland     All States       4.0     NaN           NaN
2  2020-01-18        Iceland     All States       7.0     NaN           NaN
3  2020-01-20    South Korea     All States       1.0     NaN           NaN
4  2020-01-22  United States     All States       0.0     NaN           NaN

   hospitalizedCurr  recovered  death  total_tested  daily_tested  \
0               NaN        NaN    NaN           NaN           NaN
1               NaN        NaN    NaN           NaN           NaN
2               NaN        NaN    NaN           NaN           NaN
3               NaN        NaN    NaN           4.0           NaN
4               NaN        NaN    0.0           0.0           NaN

   daily_positive
0             NaN
1             1.0
2             3.0
3             NaN
4             NaN
-------------------------
find south_korea:  South Korea
-------------------------
find south korea:  South Korea

**add one more row**

In [ ]:
extra_1 = pd.Series(['Peacky Blinders'], name = 'tommy shelby')
extra_2 = pd.Series(['UFC'])
df_file = df_file.append(extra_1)
df_file = df_file.append(extra_2, ignore_index = True)
print(df_file.tail())

             Date Country_Region     Province_State  positive  active  \
27638  2020-11-09      Australia           Tasmania       NaN     0.0
27639  2020-11-09      Australia           Victoria       NaN     4.0
27640  2020-11-09      Australia  Western Australia       NaN    10.0
27641         NaN            NaN                NaN       NaN     NaN
27642         NaN            NaN                NaN       NaN     NaN

       hospitalized  hospitalizedCurr  recovered  death  total_tested  \
27638           NaN               0.0      217.0   13.0      120292.0
27639           NaN               2.0    19522.0  819.0     3299302.0
27640           NaN               0.0      757.0    9.0      501428.0
27641           NaN               NaN        NaN    NaN           NaN
27642           NaN               NaN        NaN    NaN           NaN

       daily_tested  daily_positive                0
27638           0.0             NaN              NaN
27639           0.0             NaN              NaN
27640           0.0             NaN              NaN
27641           NaN             NaN  Peacky Blinders
27642           NaN             NaN              UFC

**insert some extra columns**

In [ ]:
df_file.insert(loc = 0, column = 'New_Column', value = 'chincho')
print(df_file.head())

  New_Column        Date Country_Region Province_State  positive  active  \
0    chincho  2020-01-16        Iceland     All States       3.0     NaN
1    chincho  2020-01-17        Iceland     All States       4.0     NaN
2    chincho  2020-01-18        Iceland     All States       7.0     NaN
3    chincho  2020-01-20    South Korea     All States       1.0     NaN
4    chincho  2020-01-22  United States     All States       0.0     NaN

   hospitalized  hospitalizedCurr  recovered  death  total_tested  \
0           NaN               NaN        NaN    NaN           NaN
1           NaN               NaN        NaN    NaN           NaN
2           NaN               NaN        NaN    NaN           NaN
3           NaN               NaN        NaN    NaN           4.0
4           NaN               NaN        NaN    0.0           0.0

   daily_tested  daily_positive    0
0           NaN             NaN  NaN
1           NaN             1.0  NaN
2           NaN             3.0  NaN
3           NaN             NaN  NaN
4           NaN             NaN  NaN

**drop some records from dataframe**

In [ ]:
df_file = df_file.drop(labels = 3)
print(df_file.head())

  New_Column        Date Country_Region Province_State  positive  active  \
0    chincho  2020-01-16        Iceland     All States       3.0     NaN
1    chincho  2020-01-17        Iceland     All States       4.0     NaN
2    chincho  2020-01-18        Iceland     All States       7.0     NaN
4    chincho  2020-01-22  United States     All States       0.0     NaN
5    chincho  2020-01-22  United States  Massachusetts       0.0     NaN

   hospitalized  hospitalizedCurr  recovered  death  total_tested  \
0           NaN               NaN        NaN    NaN           NaN
1           NaN               NaN        NaN    NaN           NaN
2           NaN               NaN        NaN    NaN           NaN
4           NaN               NaN        NaN    0.0           0.0
5           NaN               NaN        NaN    0.0           0.0

   daily_tested  daily_positive    0
0           NaN             NaN  NaN
1           NaN             1.0  NaN
2           NaN             3.0  NaN
4           NaN             NaN  NaN
5           NaN             NaN  NaN

**rename columns of dataframe**

In [ ]:
df_file = df_file.rename(columns = {"New_Column":"By Order Of the Peacky Blinders"})
print(df_file)

      By Order Of the Peacky Blinders        Date Country_Region  \
0                             chincho  2020-01-16        Iceland
1                             chincho  2020-01-17        Iceland
2                             chincho  2020-01-18        Iceland
4                             chincho  2020-01-22  United States
5                             chincho  2020-01-22  United States
...                               ...         ...            ...
27638                         chincho  2020-11-09      Australia
27639                         chincho  2020-11-09      Australia
27640                         chincho  2020-11-09      Australia
27641                         chincho         NaN            NaN
27642                         chincho         NaN            NaN

          Province_State  positive  active  hospitalized  hospitalizedCurr  \
0             All States       3.0     NaN           NaN               NaN
1             All States       4.0     NaN           NaN               NaN
2             All States       7.0     NaN           NaN               NaN
4             All States       0.0     NaN           NaN               NaN
5          Massachusetts       0.0     NaN           NaN               NaN
...                  ...       ...     ...           ...               ...
27638           Tasmania       NaN     0.0           NaN               0.0
27639           Victoria       NaN     4.0           NaN               2.0
27640  Western Australia       NaN    10.0           NaN               0.0
27641                NaN       NaN     NaN           NaN               NaN
27642                NaN       NaN     NaN           NaN               NaN

       recovered  death  total_tested  daily_tested  daily_positive  \
0            NaN    NaN           NaN           NaN             NaN
1            NaN    NaN           NaN           NaN             1.0
2            NaN    NaN           NaN           NaN             3.0
4            NaN    0.0           0.0           NaN             NaN
5            NaN    0.0           0.0           NaN             NaN
...          ...    ...           ...           ...             ...
27638      217.0   13.0      120292.0           0.0             NaN
27639    19522.0  819.0     3299302.0           0.0             NaN
27640      757.0    9.0      501428.0           0.0             NaN
27641        NaN    NaN           NaN           NaN             NaN
27642        NaN    NaN           NaN           NaN             NaN

                     0
0                  NaN
1                  NaN
2                  NaN
4                  NaN
5                  NaN
...                ...
27638              NaN
27639              NaN
27640              NaN
27641  Peacky Blinders
27642              UFC

[27642 rows x 14 columns]

**rename index**

In [ ]:
df_file = df_file.set_index("Date")
print(df_file)

           By Order Of the Peacky Blinders Country_Region     Province_State  \
Date
2020-01-16                         chincho        Iceland         All States
2020-01-17                         chincho        Iceland         All States
2020-01-18                         chincho        Iceland         All States
2020-01-22                         chincho  United States         All States
2020-01-22                         chincho  United States      Massachusetts
...                                    ...            ...                ...
2020-11-09                         chincho      Australia           Tasmania
2020-11-09                         chincho      Australia           Victoria
2020-11-09                         chincho      Australia  Western Australia
NaN                                chincho            NaN                NaN
NaN                                chincho            NaN                NaN

            positive  active  hospitalized  hospitalizedCurr  recovered  \
Date
2020-01-16       3.0     NaN           NaN               NaN        NaN
2020-01-17       4.0     NaN           NaN               NaN        NaN
2020-01-18       7.0     NaN           NaN               NaN        NaN
2020-01-22       0.0     NaN           NaN               NaN        NaN
2020-01-22       0.0     NaN           NaN               NaN        NaN
...              ...     ...           ...               ...        ...
2020-11-09       NaN     0.0           NaN               0.0      217.0
2020-11-09       NaN     4.0           NaN               2.0    19522.0
2020-11-09       NaN    10.0           NaN               0.0      757.0
NaN              NaN     NaN           NaN               NaN        NaN
NaN              NaN     NaN           NaN               NaN        NaN

            death  total_tested  daily_tested  daily_positive                0
Date
2020-01-16    NaN           NaN           NaN             NaN              NaN
2020-01-17    NaN           NaN           NaN             1.0              NaN
2020-01-18    NaN           NaN           NaN             3.0              NaN
2020-01-22    0.0           0.0           NaN             NaN              NaN
2020-01-22    0.0           0.0           NaN             NaN              NaN
...           ...           ...           ...             ...              ...
2020-11-09   13.0      120292.0           0.0             NaN              NaN
2020-11-09  819.0     3299302.0           0.0             NaN              NaN
2020-11-09    9.0      501428.0           0.0             NaN              NaN
NaN           NaN           NaN           NaN             NaN  Peacky Blinders
NaN           NaN           NaN           NaN             NaN              UFC

[27642 rows x 13 columns]

**Dealing with Missing Data**

**1) isnull**

In [ ]:
print(df_file.isnull())

            By Order Of the Peacky Blinders  Country_Region  Province_State  \
Date
2020-01-16                            False           False           False
2020-01-17                            False           False           False
2020-01-18                            False           False           False
2020-01-22                            False           False           False
2020-01-22                            False           False           False
...                                     ...             ...             ...
2020-11-09                            False           False           False
2020-11-09                            False           False           False
2020-11-09                            False           False           False
NaN                                   False            True            True
NaN                                   False            True            True

            positive  active  hospitalized  hospitalizedCurr  recovered  \
Date
2020-01-16     False    True          True              True       True
2020-01-17     False    True          True              True       True
2020-01-18     False    True          True              True       True
2020-01-22     False    True          True              True       True
2020-01-22     False    True          True              True       True
...              ...     ...           ...               ...        ...
2020-11-09      True   False          True             False      False
2020-11-09      True   False          True             False      False
2020-11-09      True   False          True             False      False
NaN             True    True          True              True       True
NaN             True    True          True              True       True

            death  total_tested  daily_tested  daily_positive      0
Date
2020-01-16   True          True          True            True   True
2020-01-17   True          True          True           False   True
2020-01-18   True          True          True           False   True
2020-01-22  False         False          True            True   True
2020-01-22  False         False          True            True   True
...           ...           ...           ...             ...    ...
2020-11-09  False         False         False            True   True
2020-11-09  False         False         False            True   True
2020-11-09  False         False         False            True   True
NaN          True          True          True            True  False
NaN          True          True          True            True  False

[27642 rows x 13 columns]

**2) dropna**

In [ ]:
print(df_file.dropna())
print("After deleting NULLs: ", df_file.dropna().shape)

Empty DataFrame
Columns: [By Order Of the Peacky Blinders, Country_Region, Province_State, positive, active, hospitalized, hospitalizedCurr, recovered, death, total_tested, daily_tested, daily_positive, 0]
Index: []
After deleting NULLs:  (0, 13)

**3) fillna**

In [ ]:
new = pd.read_csv("/content/drive/MyDrive/tested_worldwide.csv")
print(new.fillna("tanjula", inplace = True))
print(new.isnull())

None
        Date  Country_Region  Province_State  positive  active  hospitalized  \
0      False           False           False     False   False         False
1      False           False           False     False   False         False
2      False           False           False     False   False         False
3      False           False           False     False   False         False
4      False           False           False     False   False         False
...      ...             ...             ...       ...     ...           ...
27636  False           False           False     False   False         False
27637  False           False           False     False   False         False
27638  False           False           False     False   False         False
27639  False           False           False     False   False         False
27640  False           False           False     False   False         False

       hospitalizedCurr  recovered  death  total_tested  daily_tested  \
0                 False      False  False         False         False
1                 False      False  False         False         False
2                 False      False  False         False         False
3                 False      False  False         False         False
4                 False      False  False         False         False
...                 ...        ...    ...           ...           ...
27636             False      False  False         False         False
27637             False      False  False         False         False
27638             False      False  False         False         False
27639             False      False  False         False         False
27640             False      False  False         False         False

       daily_positive
0               False
1               False
2               False
3               False
4               False
...               ...
27636           False
27637           False
27638           False
27639           False
27640           False

[27641 rows x 12 columns]

**4) interpolate**

In [ ]:
print(new['positive'].interpolate('linear'))

0            3.0
1            4.0
2            7.0
3            1.0
4            0.0
          ...
27636    tanjula
27637    tanjula
27638    tanjula
27639    tanjula
27640    tanjula
Name: positive, Length: 27641, dtype: object