In [2]:
import pandas as pd
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [31]:
df = pd.read_csv("/content/drive/MyDrive/tested_worldwide.csv")
print(df.head())

         Date Country_Region Province_State  positive  active  hospitalized  \
0  2020-01-16        Iceland     All States       3.0     NaN           NaN
1  2020-01-17        Iceland     All States       4.0     NaN           NaN
2  2020-01-18        Iceland     All States       7.0     NaN           NaN
3  2020-01-20    South Korea     All States       1.0     NaN           NaN
4  2020-01-22  United States     All States       0.0     NaN           NaN

   hospitalizedCurr  recovered  death  total_tested  daily_tested  \
0               NaN        NaN    NaN           NaN           NaN
1               NaN        NaN    NaN           NaN           NaN
2               NaN        NaN    NaN           NaN           NaN
3               NaN        NaN    NaN           4.0           NaN
4               NaN        NaN    0.0           0.0           NaN

   daily_positive
0             NaN
1             1.0
2             3.0
3             NaN
4             NaN

In [32]:
a = df['Country_Region'].str.lower()
print(a.head(3))
print(type(a))

0    iceland
1    iceland
2    iceland
Name: Country_Region, dtype: object
<class 'pandas.core.series.Series'>

In [33]:
b = df['Country_Region'].str.upper()
print(b.head(3))

0    ICELAND
1    ICELAND
2    ICELAND
Name: Country_Region, dtype: object

In [34]:
c = df['Province_State']
first = pd.DataFrame()
first['name'] = df['Province_State'].str.split(" ").str.get(0)
first['surname'] = df['Province_State'].str.split(" ").str.get(1)
print(first.head(5))

  name surname
0  All  States
1  All  States
2  All  States
3  All  States
4  All  States

In [35]:
# titanic[titanic["Name"].str.contains("Countess")]
answer = df[df['Country_Region'].str.contains("Korea")]
print(answer.head())

           Date Country_Region Province_State  positive  active  hospitalized  \
3    2020-01-20    South Korea     All States       1.0     NaN           NaN
10   2020-01-24    South Korea     All States       2.0     NaN           NaN
38   2020-01-26    South Korea     All States       3.0     NaN           NaN
54   2020-01-27    South Korea     All States       4.0     NaN           NaN
101  2020-01-30    South Korea     All States       7.0     NaN           NaN

     hospitalizedCurr  recovered  death  total_tested  daily_tested  \
3                 NaN        NaN    NaN           4.0           NaN
10                NaN        NaN    NaN          27.0           5.0
38                NaN        NaN    NaN          51.0          12.0
54                NaN        NaN    NaN          61.0          10.0
101               NaN        NaN    NaN           NaN           NaN

     daily_positive
3               NaN
10              0.0
38              0.0
54              1.0
101             1.0

In [40]:
#print(df.head())

result = df.loc[df['Country_Region'].str.len().idxmax(), 'Country_Region']
print(result)

Democratic Republic of the Congo

In [45]:
a = df
a['Country_Region'] = a['Country_Region'].replace({'Iceland':'Peacky Blinders'})
print(a)

             Date   Country_Region     Province_State  positive  active  \
0      2020-01-16  Peacky Blinders         All States       3.0     NaN
1      2020-01-17  Peacky Blinders         All States       4.0     NaN
2      2020-01-18  Peacky Blinders         All States       7.0     NaN
3      2020-01-20      South Korea         All States       1.0     NaN
4      2020-01-22    United States         All States       0.0     NaN
...           ...              ...                ...       ...     ...
27636  2020-11-09        Australia         Queensland       NaN     8.0
27637  2020-11-09        Australia    South Australia       NaN    19.0
27638  2020-11-09        Australia           Tasmania       NaN     0.0
27639  2020-11-09        Australia           Victoria       NaN     4.0
27640  2020-11-09        Australia  Western Australia       NaN    10.0

       hospitalized  hospitalizedCurr  recovered  death  total_tested  \
0               NaN               NaN        NaN    NaN           NaN
1               NaN               NaN        NaN    NaN           NaN
2               NaN               NaN        NaN    NaN           NaN
3               NaN               NaN        NaN    NaN           4.0
4               NaN               NaN        NaN    0.0           0.0
...             ...               ...        ...    ...           ...
27636           NaN               8.0     1163.0    6.0     1265567.0
27637           NaN               0.0      492.0    4.0      572618.0
27638           NaN               0.0      217.0   13.0      120292.0
27639           NaN               2.0    19522.0  819.0     3299302.0
27640           NaN               0.0      757.0    9.0      501428.0

       daily_tested  daily_positive
0               NaN             NaN
1               NaN             1.0
2               NaN             3.0
3               NaN             NaN
4               NaN             NaN
...             ...             ...
27636           0.0             NaN
27637           0.0             NaN
27638           0.0             NaN
27639           0.0             NaN
27640           0.0             NaN

[27641 rows x 12 columns]